/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;700&family=Paytone+One&family=Poppins:wght@400;500;600;700;800;900&display=swap');
/*VARIABLES*/
:root {
    --primary--color : #5CB85F;
    --drak--color :#0f0f0f;
    --gray-color : gray;
    --h1--fontsize : 40px;
    --h2--fontsize : 32px;
    --small-size : 14px;
    --large-size : 25px;

}
/*RESET css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 102%;
}
a{
    text-decoration: none;
}
/*global CSS*/
section{
    padding: 50px 0;
}
section .section-title{
    font-size: var(--h2--fontsize);
    font-weight: bold;
    text-transform: uppercase;
}
.btn-orange {
    background-color: var(--primary--color);
    color: white;
    border-radius: 40px;
}
.btn-orange:hover{
background-color: #16df7e;
}
.text-orange {
    color: var(--primary--color);
}
.text-dark{
    color: var(--drak--color);
}
.fs-7{
    font-size: var(--small-size);
}
.fs-8{
  font-size: var(--large-size);
}
.form-control:focus{
box-shadow: none;
border-color: var(--primary--color);
}
/*CSS PER SECTION*/

/*navbar*/
.navbar{
 background: #F1F3FF;

}
.navbar a{
	font-weight: 500;
	padding: 10px 15px;
	border-radius: 4px;
	transition: ease .40s;
  margin-right: 10px;
}
.navbar  .Reg{
  background-color: #5CB85F;
}
.navbar .navbar-brand::first-letter{
font-size: 38px;
color: var(--primary--color);
}

/*Header*/
.Header {
    background:#F1F3FF;
    padding: 0;
  }
 .Header .Header-Title{
  padding-left: 50px;
 }
  
  .Header h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    color: #3e4450;
  }
  
  .Header h4 {
    margin: 10px 0 30px 0;
    font-size: 20px;
  }
  
  .Header .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px 10px 30px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: var(--primary--color);
    box-shadow: 0 8px 28px rgba(22, 223, 126, 0.45);
  }
  
  .Header .btn-get-started:hover {
    background: #16df7e;
    box-shadow: 0 8px 28px rgba(32, 107, 251, 0.45);
  }
 
  @media (max-width: 991px) {

    .Header .Header-Img {
      text-align: center;
    }
  
    .Header .Header-Img img {
      width: 66%;
      margin-top: 20px;
    }
  }

  
  @media (max-width: 768px) {
    .Header h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    .Header h4 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  
    .Header .Header-Img img {
      width: 70%;
    }
    #why .card{
      margin:0 auto;
    }
    #why  h2, h4{
    text-align: center;
    }
    .testimonial-section h2, h4{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .footer{
      display: flex;
      justify-content: start;
      align-items: start;
    }
    .testimonial-section .timoni p{
      text-align: center;
    }
    }
  
  
  @media (max-width: 575px) {
    .Header .Header-Img img {
      width: 100%;
    }
    .question #Qlist{
      width: 20rem;
    }
    .testimonial-section .card-body{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .question p{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  @media (max-width: 400px){
    .testimonial-section .card-body{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .testimonial-section .card-img-top{
      margin-left: 15px;
    }
    .Header .Header-Img img {
        width: 100%;
        padding-top: 20px;
        margin-top: 30px;
      }
      .testimonial-section .timoni p{
        text-align: center;
      }
      .question p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }
  /*Our Us*/
  .our-section .out-title{
    font-size: var(--h2--fontsize);
  }
  .our-section .our-us{
    color: var(--drak--color);
  }
  .our-section .our-us:hover{
    color: var(--primary--color);
  }
  .our-section .our-us i {
    background: #CFD4ED;
    transition: .3s;
   border-radius: 50px;
   color: black;
  }
  .our-section .our-us:hover i {
    transform: rotate(-45deg);
  }
  .our-section .our-img{
    width: 85%;
    border-radius: 20px;
    margin: 5%;
  }
  .our-section .skill:hover{
    filter: brightness(70%) hue-rotate(7deg);
	  transform: scale(1.04);
  }
    /*Why Use*/
#why .col-xl-3{
      position: relative;
      transition: all .3s cubic-bezier(.445,.05,.55,.95);
      will-change: filter;
      cursor: pointer;
      border-radius: 20px;
  }
  #why .col-xl-3:hover{
      filter: brightness(60%) hue-rotate(5deg);
      transform: scale(1.04);
  }
  #why  img {
width: 5em;
padding: 20px;
   
  }
  /*testimonial*/
  .testimonial-section{
    width: 100%;
    height: 100%;
  }
  .testimonial-section .card-body{
    background: #F1F3FF;
    text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
  }
  .testimonial-section .card-body i{
    margin-top: 10px;
    color: #F9CC00;
  }
  .testimonial-section .card-img-top{
    height:20%;
    width: 20%;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px;
  }
  
  .testimonial-section .button-n{
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    border: 5mm;
  }
  .testimonial-section .button-n:hover{
    background: #16df7e;
  }
   /*FAQ*/
   .cta {
    background:#0D28A6;
    background-size: cover;
    padding: 60px 0;
    margin: 50px;
    border-radius: 20px;
  }
  
  .cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }
  
  .cta p {
    color: #fff;
  }
  
  .cta .cta-btn {
    background: var(--primary--color);
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 10px;
    color: #fff;
  }
  
  .cta .cta-btn:hover {
    background: #0D28A6;
    border-color: #fff;
  }
  #iconFaq{
    margin-right: 0;
    margin-left: 0;
  }
  #iconFaq i {
    text-align: center;
    width: 2rem;
    height: 2rem;
    background:#0D28A6;
    transition: .3s;
   border-radius: 100px;
   color: white;
  border: 10px;
  padding-top: 5px;
  }
  #iconFaq i:hover {
    transform: rotate(-45deg);
  }
  .footer h4{
    text-align: start;
  }